/* ======================================================================== */ 

 /*                      NOT RELATED TO THE TTUTORIAL                        */

/* ======================================================================== */

*{
	
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	list-style: none;

}


*,
*::before,
*::after {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	list-style: none;
}


:root {
  --step--2: clamp(0.69rem, calc(0.58rem + 0.60vw), 1.00rem);
  --step--1: clamp(0.83rem, calc(0.67rem + 0.81vw), 1.25rem);
  --step-0: clamp(1.00rem, calc(0.78rem + 1.10vw), 1.56rem);
  --step-1: clamp(1.20rem, calc(0.91rem + 1.47vw), 1.95rem);
  --step-2: clamp(1.44rem, calc(1.05rem + 1.95vw), 2.44rem);
  --step-3: clamp(1.73rem, calc(1.21rem + 2.58vw), 3.05rem);
  --step-4: clamp(2.07rem, calc(1.39rem + 3.40vw), 3.82rem);
  --step-5: clamp(2.49rem, calc(1.60rem + 4.45vw), 4.77rem);
	
	/* Font style */
	
	--ff-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	
	/* Color style */
	
	/*
	--color-primary:#c51350;
	--color-secondary:#ff9a3c;
	--color-body:#333;
	--color-bg: #006600;
	--color-primary-dark:#007f67;
	--color-error:#cc3333;
	--color-success:#4bb544;
	--color-link:#cdcdcc;
	--color-border:darkgrey;
	--bs:#ffa857;
	*/
	
	--color-primary: #0575E6;
	--color-secondary: #6dd5ed;
	--color-primary-light:#8dc6ff;
	--color-primary-dark:#021B79;
	--color-error:#cc3333;
	--color-success:#4bb544;
	--color-link:#606470;
	--color-text:#5f6769;
	--color-header-dark:#393e46;
	--color-background:#f5f9ee;
	--color-border-sc:#ececec;
	--color-border-focus:#69c2ff;
	--color-border:#d3d6db;
	--bs:#ffa857;
	--color-percentage:#5f6769;
	--color-header-light:#9ba6a5;
	--color-border-focus:#a9d7f6;
	--color-input-background:#f5f9ee;
	--gradient: linear-gradient(135deg var(--color-primary), var(--color-secondary));
	
	
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
  list-style: none;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height:  100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
}


/* A elements that don't have a class get default styles */
a:not([class]) {
 text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* ======================================================================== */ 

 /*                      RELATED TO THE TTUTORIAL                        */

/* ======================================================================== */



body {
    color: #f9f9f9;
    background: #202124;
}

:is(.burger,.overlay,.sidebar) {
    position: fixed;
}

button {
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    backdrop-filter: blur(3px);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

body.open .overlay {
    opacity: 1;
    visibility: visible;
}

.burger {
    top: 20px;
    right: 13px;
    display: flex;
    align-items: center;
    grid-gap: .6rem;
    z-index: 3;
}

@media only screen and (width >= 600px) {
    .burger {
        display: none;
    }
}

.burger-avatar {
    width: 40px;
    height: 40px;
    transition: .4s;
}

body.open .burger-avatar {
    transform: translate(40px, 0);
    opacity: 0;
    visibility: hidden;
}

.burger-icon {
    width: 40px;
    height: 40px;
    background-image: url(img/icon-burger.svg);
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}

body.open .burger-icon {
    background-image: url(img/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.sidebar {
    /* position: absolute; */
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    padding: 40px 20px;
    filter: blur(15px);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition-property: filter, visibility, opacity;
    transition-duration: 0.6s;

}

@media only screen and (width >= 430px) {
    .sidebar {
        transition-property: translate;
    }
}

@media only screen and (width >= 500px) {
    .sidebar {
        /* width: 230px; */
        transform: translate(100%, 0);
        border-left: 0;
        transition: .4s;
    }
}

@media only screen and (width >= 600px) {
    .sidebar {
        width: 230px;
        opacity: 1;
        visibility: visible;
        border-left: 1px solid rgba(255, 255, 255, .17);
        transform: translate(0, 0);
        filter: blur(0);
    }
}

body.open .sidebar {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    filter: blur(0);
}

.sidebar-avatar {
    width: 120px;
    height: 120px;
    margin-bottom: 1.3rem;
}

@media only screen and (width >= 600px){
    .sidebar-avatar {
        width: 90px;
        height: 90px;
    }
}

.sidebar-username {
    color: rgba(255, 255, 255, .96);
    font-size: var(--step-3);
    font-weight: 500;
}

@media only screen and (width >= 600px){
    .sidebar-username {
        font-size: var(--step-0);
    }
}

.sidebar-role {
    color: rgba(255, 255, 255, .59);
    font-size: var(--step-0);
    font-weight: 400;
    margin: 0 0 1.3rem;
}

@media only screen and (width >= 600px){
    .sidebar-role {
        font-size: var(--step--2);
    }
}

.sidebar-menu {
    display: grid;
    width: 100%;
    padding: .9rem 0 .9rem 1.3rem;
    border-top: 1px solid rgba(255, 255, 255, .16);
}

@media only screen and (width >= 450px){
    .sidebar-menu {
        padding-left: 0;
    }
}

.sidebar-menu > button > span.sidebar-background {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    grid-gap: .9rem;
    color: #f9f9f9;
    border-radius: 1.8rem;
    font-size: var(--step-0);
    font-weight: 200;
    padding: .9rem 1.3rem;
    margin-block: .4rem;
}

.sidebar-menu > button > span.sidebar-background span {
    transition: .3s;
}

@media only screen and (width >= 600px){
    .sidebar-menu > button > span.sidebar-background {
        font-size: var(--step--2);
    }

    .sidebar-menu > button:hover > span.sidebar-background {
        background: rgba(255, 255, 255, .1);
    }

    .sidebar-menu > button:hover > span.sidebar-background span {
        transform: translateX(15px);
        transition: .3s;
    }
}

.sidebar-menu > button > span > img {
    width: 24px;
    height: 24px;
}
