/* ======================================================================== */
/*                      NOT RELATED TO THE TTUTORIAL                        */
/* ======================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
}

:root {
  --step--2: clamp(0.69rem, calc(0.58rem + 0.60vw), 1.00rem);
  --step--1: clamp(0.83rem, calc(0.67rem + 0.81vw), 1.25rem);
  --step-0: clamp(1.00rem, calc(0.78rem + 1.10vw), 1.56rem);
  --step-1: clamp(1.20rem, calc(0.91rem + 1.47vw), 1.95rem);
  --step-2: clamp(1.44rem, calc(1.05rem + 1.95vw), 2.44rem);
  --step-3: clamp(1.73rem, calc(1.21rem + 2.58vw), 3.05rem);
  --step-4: clamp(2.07rem, calc(1.39rem + 3.40vw), 3.82rem);
  --step-5: clamp(2.49rem, calc(1.60rem + 4.45vw), 4.77rem);
}

html, body {
  height: 100%;
}

/* ======================================================================== */
/*                      RELATED TO THE TTUTORIAL                        */
/* ======================================================================== */
body {
  background-color: #1e1f21;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

:is(.toolbar, .sidebar) {
  position: fixed;
  top: 0;
}

.burger {
  position: absolute;
  z-index: 4;
  left: 73px;
  display: grid;
  place-items: center;
  width: 73px;
  height: 64px;
  background-image: url(../assets/icon-burger.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.burger.show {
  right: 0;
  left: auto;
  background-image: url(../assets/icon-close.svg);
}
@media (width >= 992px) {
  .burger {
    display: none;
  }
}

button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  gap: 1rem;
  padding: 0 1.2rem;
}

.toolbar {
  left: 0;
  width: 73px;
  height: 100%;
  background: #3A1B86;
  z-index: 3;
}
.toolbar > nav > button > img {
  width: 33px;
  height: 33px;
}

.sidebar {
  left: 73px;
  width: 280px;
  height: 100%;
  background: #5030A3;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (width < 992px) {
  .sidebar {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.sidebar.show {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.sidebar > nav {
  display: grid;
}
.sidebar > nav > button > .span-bg {
  width: 250px;
  height: 6.9vh;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1.8rem;
  padding: 0 1rem;
}
.sidebar > nav > button:hover > .span-bg {
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
}
.sidebar > nav > button:hover > .span-bg > span {
  padding-left: 2.2rem;
  -webkit-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  transition: 0.4s ease;
}
.sidebar > nav > button > .span-bg > span {
  color: #f9f9f9;
  font-size: var(--step--1);
  font-weight: 200;
  border-radius: 4px;
  line-height: 1;
  letter-spacing: 2px;
  -webkit-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  transition: 0.4s ease;
}
.sidebar > nav > button > .span-bg img {
  width: 25px;
  height: 25px;
}
.sidebar.show nav > button > .span-bg {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease;
  animation: appear 0.8s both;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  font-size: var(--step-0);
  font-weight: 200;
}
.copy p {
  color: #B0A8BA;
  font-weight: 300;
}
.copy p a {
  color: #B7A2D7;
  text-decoration: none;
  font-size: var(--step--1);
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */